<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <style>
        .author-wrapper {
            text-align: center;
        }

        .author-wrapper p {
            font-size: 25px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="author-wrapper">
        <div class="author-first-name">
            <p>{{ first_name }}</p>
        </div>
        <div class="author-last-name">
            <p>{{ last_name }}</p>
        </div>
        <div class="author-age">
            <p>{{ age }}</p>
        </div>
    </div>
</body>
</html>
