{% extends 'index.html' %}
{% block content %}
<div class="orders_wrapper">
    <table>
        <tr>
            <th>ID</th>
            <th>DETAILS</th>
            <th>DATE</th>
            <th>PREPARATION TIME</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.details}}</td>
            <td>{{order.date}}</td>
            <td>{{order.preparation_time}}</td>
            <td>
                <form action="{{ url_for('delete', order_id=order.id) }}" method="post" style="display: inline;">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
